.historyTable {
  margin: 0 auto;
  max-width: 1000px;
}

.tableHeadDefault {
  width: 150px;
  border-bottom: 1px solid #e2e2e2;
}

.tableHeadWithPadding {
  width: 150px;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px;
}

.tableHeadSmall {
  width: 100px;
  border-bottom: 1px solid #e2e2e2;
}

.tableCell {
  border-bottom: 1px solid #e2e2e2;
}

.statusContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
