/* 공통 버튼 스타일 */
.searchButton {
  width: 80px;
  height: 44px;
  margin-left: 14px;
  background-color: #0070f3;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

/* 공통 입력 필드 스타일 */
.searchInput {
  height: 38.5px;
  background-color: white;
}

/* number-search-box 전용 스타일 */
.numberSearchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 80px;
  margin: 8px 0px;
  margin-top: 21px;
}

.numberSearchInput {
  width: 80%;
  height: 38.5px;
  background-color: white;
}

/* filter-box 전용 스타일 */
.filterContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 97%;
}

.filterInput {
  width: 62%;
  height: 35.5px;
  background-color: white;
  padding-left: 22px;
}

.filterButton {
  width: 80px;
  height: 44px;
  margin-left: 9px;
  background-color: #0070f3;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
