/* 공통 스타일 */
.searchButton,
.filterButton {
  width: 80px;
  height: 44px;
  background-color: #0070f3;
  color: white;
  font-size: 14px;
  font-weight: 500;

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 공통 컨테이너 스타일 */
.numberSearchContainer,
.filterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 97%;
  margin: 12px auto;
  padding: 0 16px;
  gap: 16px;
}

/* number-search-box 전용 스타일 */
.numberSearchContainer {
  margin-top: 20px;
}

.numberSearchInput {
  flex: 1;
  height: 44px;
  background-color: white;
  border: 1.5px solid #d9d9d9;
  border-radius: 6px;
  padding: 0 16px;
}

/* filter-box 전용 스타일 */
.filterInput {
  flex: 1;
  height: 44px;
  background-color: white;
  border: 1.5px solid #d9d9d9;
  border-radius: 6px;
  padding: 0 16px;
}
