.iconButton {
  background: #8b8b8b;
  border: 1px solid #8b8b8b;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 12px;
  width: 35px;
  height: 35px;
}

.iconButton:hover {
  background-color: #666666;
}

.icon {
  width: 20px;
  height: 20px;
}

.sortOrder {
  cursor: pointer;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sortOrder.ascend {
  background-image: url('/arrow_drop_up_24dp_000000.svg');
}

.sortOrder.descend {
  background-image: url('/arrow_drop_down_24dp_000000.svg');
}

.fullScreen {
  background-color: #424242;
  background-image: url('/zoom_out_map_24dp_FFFFFF.svg');
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat; /* 반복 안함 */
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10000;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.fullScreen:hover {
  background-color: #242424;
}

.closeScreen {
  background-color: #424242;
  background-image: url('/zoom_in_map_24dp_FFFFFF.svg');
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat; /* 반복 안함 */
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10000;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.closeScreen:hover {
  background-color: #242424;
}
