.iconButton {
  background: #8b8b8b;
  border: 1px solid #8b8b8b;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 12px;
}

.iconButton:hover {
  background-color: #666666;
}

.icon {
  width: 20px;
  height: 20px;
}

.sortOrder {
  cursor: pointer;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sortOrder.ascend {
  background-image: url('/arrow_drop_up_24dp_000000.svg');
}

.sortOrder.descend {
  background-image: url('/arrow_drop_down_24dp_000000.svg');
}
