# Default ignored files
/shelf/
/workspace.xml
# Editor-based https Client requests
/httpsRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
